parameters:
    env(LEAP_API_ENABLED): true
    env(LEAP_API_ENABLED_OVERRIDABLE): true
    env(LEAP_DATA_API_ENABLED): true
    env(LEAP_SESSION_LIMIT): 0
    env(LEAP_SESSION_LIMIT_OVERRIDABLE): true
    env(LEAP_CONTENT_URL): .
    env(LEAP_CONTENT_URL_OVERRIDABLE): true
    env(LEAP_CONTENT_TRANSFER_OPTIONS): '[]'
    env(LEAP_CONTENT_TRANSFER_OPTIONS_OVERRIDABLE): true
    env(LEAP_SESSION_RUNNER_SERVICE): 'SerializedSessionRunnerService'
    env(LEAP_SESSION_RUNNER_SERVICE_OVERRIDABLE): true
    env(LEAP_GIT_ENABLED): 0
    env(LEAP_GIT_ENABLED_OVERRIDABLE): true
    env(LEAP_GIT_URL): ""
    env(LEAP_GIT_URL_OVERRIDABLE): true
    env(LEAP_GIT_BRANCH): master
    env(LEAP_GIT_BRANCH_OVERRIDABLE): true
    env(LEAP_GIT_LOGIN): ""
    env(LEAP_GIT_LOGIN_OVERRIDABLE): true
    env(LEAP_GIT_PASSWORD): ""
    env(LEAP_GIT_PASSWORD_OVERRIDABLE): true
    env(LEAP_GIT_REPOSITORY_PATH): ''
    env(LEAP_FAILED_AUTH_LOCK_TIME): 300
    env(LEAP_FAILED_AUTH_LOCK_STREAK): 3
    env(LEAP_SESSION_FILES_EXPIRATION): 7
    env(LEAP_SESSION_LOG_LEVEL): 1
    administration:
        exposed:
            session_limit: "%env(LEAP_SESSION_LIMIT)%" #0 for none
            session_limit_overridable: "%env(LEAP_SESSION_LIMIT_OVERRIDABLE)%"
            local_session_limit: 0 #0 for none
            api_enabled: "%env(LEAP_API_ENABLED)%"
            api_enabled_overridable: "%env(LEAP_API_ENABLED_OVERRIDABLE)%"
            content_url: "%env(LEAP_CONTENT_URL)%"
            content_url_overridable: "%env(LEAP_CONTENT_URL_OVERRIDABLE)%"
            content_transfer_options: "%env(LEAP_CONTENT_TRANSFER_OPTIONS)%"
            content_transfer_options_overridable: "%env(LEAP_CONTENT_TRANSFER_OPTIONS_OVERRIDABLE)%"
            session_runner_service: "%env(LEAP_SESSION_RUNNER_SERVICE)%"
            session_runner_service_overridable: "%env(LEAP_SESSION_RUNNER_SERVICE_OVERRIDABLE)%"
            git_enabled: "%env(LEAP_GIT_ENABLED)%"
            git_enabled_overridable: "%env(LEAP_GIT_ENABLED_OVERRIDABLE)%"
            git_url: "%env(LEAP_GIT_URL)%"
            git_url_overridable: "%env(LEAP_GIT_URL_OVERRIDABLE)%"
            git_branch: "%env(LEAP_GIT_BRANCH)%"
            git_branch_overridable: "%env(LEAP_GIT_BRANCH_OVERRIDABLE)%"
            git_login: "%env(LEAP_GIT_LOGIN)%"
            git_login_overridable: "%env(LEAP_GIT_LOGIN_OVERRIDABLE)%"
            git_password: "%env(LEAP_GIT_PASSWORD)%"
            git_password_overridable: "%env(LEAP_GIT_PASSWORD_OVERRIDABLE)%"
            home_test_id: 0
        internal:
            r_exec_path: R
            git_exec_path: git
            git_repository_path: "%env(LEAP_GIT_REPOSITORY_PATH)%"
            r_lib_path: null
            editable_starter_content: false
            session_files_expiration: '%env(LEAP_SESSION_FILES_EXPIRATION)%'
            session_log_level: '%env(LEAP_SESSION_LOG_LEVEL)%'
            session_count_idle_limit: 300 #secs
            failed_auth_lock_time: "%env(LEAP_FAILED_AUTH_LOCK_TIME)%"
            failed_auth_lock_streak: "%env(LEAP_FAILED_AUTH_LOCK_STREAK)%"
            data_api_enabled: "%env(LEAP_DATA_API_ENABLED)%"